language: python
python:
    - "3.7"

envs:
  global:
    - DENGO_INSTALL_PATH=$TRAVIS_BUILD_DIR/dengo_install
    - CVODE_PATH=$TRAVIS_BUILD_DIR/cvode_instdir
    - HDF5_PATH=$TRAVIS_BUILD_DIR/hdf5_install
    - SUITESPARSE_PATH=$TRAVIS_BUILD_DIR/SuiteSparse
    - HDF5_DIR=$TRAVIS_BUILD_DIR/hdf5_install

before_install:
    - sudo apt-get install gfortran libtool
    - export DENGO_INSTALL_PATH=$TRAVIS_BUILD_DIR/dengo_install
    - export CVODE_PATH=$TRAVIS_BUILD_DIR/cvode-3.1.0/instdir
    - export HDF5_PATH=$TRAVIS_BUILD_DIR/hdf5_install
    - export SUITESPARSE_PATH=$TRAVIS_BUILD_DIR/SuiteSparse
    - export HDF5_DIR=$TRAVIS_BUILD_DIR/hdf5_install
    - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$DENGO_INSTALL_PATH/lib:$HDF5_PATH/lib
    - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$SUITESPARSE_PATH/lib
    - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$CVODE_PATH/lib
    - ./install-suitesparse.sh 
    - ./install-cvode.sh &> cvode_install.out
    - ./install-chiantipy.sh &> chiantipy_install.out
    - ./install-hdf5.sh  
    - ./install-yt.sh &> yt_install.out
#    - ./install-grackle.sh
# command to install dependencies
install:
    - pip install -r requirements.txt
    - pip install h5py
    - pip install sympy
    - pip install yt
    - pip install -e .
# command to run tests
script:
    - echo $SUITESPARSE_PATH
    - echo $HDF5_PATH
    - echo $DENGO_INSTALL_PATH
    - echo $LD_LIBRARY_PATH
    - pytest --ignore-glob="*cuda*" -v examples/test/


