atomicwrites==1.3.0
attrs==19.2.0
certifi==2019.6.16
cycler==0.10.0
Cython==0.29.13
-e git+https://github.com/hisunnytang/dengo-merge.git@99b1d9149c3bcb47e6c8cac723e7add16bd2a8ac#egg=dengo
docutils==0.15.2
h5py==2.10.0
importlib-metadata==0.23
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
more-itertools==7.2.0
mpmath==1.1.0
numpy==1.17.2
packaging==19.2
pluggy==0.13.0
py==1.8.0
pyparsing==2.4.2
pytest==5.2.1
python-dateutil==2.8.0
six==1.12.0
sympy==1.4
wcwidth==0.1.7
zipp==0.6.0
