import os
from distutils.extension import Extension

def make_ext(modname, pyxfilename):
    if "HDF5_DIR" in os.environ:
        hdf5_dir = os.environ["HDF5_DIR"]
        inc = os.path.join(hdf5_dir, "include")
        lib = os.path.join(hdf5_dir, "lib")
    elif "HDF5_INCLUDEDIR" in os.environ and "HDF5_LIBDIR" in os.environ:
        inc = os.environ["HDF5_INCLUDEDIR"]
        lib = os.environ["HDF5_LIBDIR"]
    else:
        print("You need to set HDF5_DIR or HDF5_INCLUDEDIR and HDF5_LIBDIR in your environment.")
        raise RuntimeError
    print('include paths', inc)
    print('library_paths', lib)

    return Extension(name=modname,
                     sources=[pyxfilename,
                        "{{solver_name}}_solver.C", "BE_chem_solve.C"],
                     include_dirs=[inc, "."],
                     library_dirs=[lib],
                     libraries=['m', 'hdf5', 'hdf5_hl', "stdc++"],
                     language="C++", extra_compile_args=["-w"])
